<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <script src="/js/alerts.js"></script> -->
    <link rel="stylesheet" href="/styles/viewProjects.css">
</head>

<body>

    <div class="note-background">
        <h2>
            <%=title%>
        </h2>
    </div>



    <!-- <h1 class="note-head">Project Notes</h1> -->
    <div class="scrollable">
        <table id="notes" class="note-con">

            <tr class="head-color">
                <th>Project's Notes</th>
                <th>Notes</th>
                <th>Active Date</th>
                <th>Action</th>
            </tr>
            <% notes.forEach(function(note){ %>
                <tr>
                    <td>
                        <%= note.project_title %>
                    </td>
                    <td>
                        <%= note.note %>
                    </td>

                    <td>
                        <%= note.project_start_dt %>
                    </td>
                    <td>

                        <div class="action">
                            <a href="edit/<%=note.id %>"><img src="/images/edit.png" alt=""></a>
                            <a href="delete/<%=note.id %>"><img src="/images/bin.png" alt=""></a>

                        </div>
                    </td>
                </tr>


                <% }); %>

        </table>

        <!-- <a class="newNote" href="/project/form">Add New Note</a> -->
        <div class="plus">
            <a href="/notes/form" title="ADD NEW PROJECT"><img src="/images/plus.png" alt=""></a>
        </div>



</body>

</html>