<head>

    <title>Document</title>
    <link rel="stylesheet" href="/styles/viewProjects.css">
</head>

<body>
    <div class="background">
        <h2>Project Table</h2>
    </div>

    <table id="projects">
        <tr>
            <th>Project Title</th>
            <th>Project Description</th>
            <th>Start Date</th>
            <th>Due Date</th>
            <th>Action</th>
        </tr>

        <% projects.forEach(function(project){ %>
            <tr>
                <td>
                    <%= project.project_title %>
                </td>

                <td>
                    <%= project.project_description %>
                </td>

                <td>
                    <%= project.project_start_dt %>
                </td>

                <td>
                    <%= project.project_due_dt %>
                </td>

                <td>
                    <div class="action">
                        <a href="edit/<%=project.id %>"><img src="/images/edit.png" alt=""></a>
                        <a href="delete/<%=project.id %>"><img src="/images/bin.png" alt=""></a>
                        <a href="/notes/form"><img src="/images/add.png" alt=""></a>
                    </div>
                </td>
            </tr>

            <% }); %>

    </table>



    <h1 class="note-head">Project Notes</h1>
    <div class="scrollable">
        <table id="notes" class="note-con">

            <tr>
                <th>Project's TItle</th>
                <th>Notes</th>
                <th>Active Date</th>
            </tr>
            <% notes.forEach(function(note){ %>
                <tr>
                    <td>
                        <%= note.project_title %>
                    </td>
                    <td>
                        <%= note.note %>
                    </td>
                    <td>
                        <%= note.active_date %>
                    </td>
                </tr>
                <% }); %>

        </table>

        <!-- <a class="newNote" href="/project/form">Add New Note</a> -->
        <div class="plus">
            <a href="/project/form" title="ADD NEW PROJECT"><img src="/images/plus.png" alt=""></a>
        </div>




</body>